.DS_Store
node_modules
/dist
#忽略mymd下文件
public/mymd
#不忽略mymd文件夹
!public/mymd/
# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
.history
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
